$base-color: #800000;
$active-color: #F00;
$page-bg-color: #800000;
$base-gradient: 'matte';
$button-gradient: 'matte';
$include_default_icons: false;
$toolbar-gradient:'none';
$text-color:#FFF;

@import 'sencha-touch/default/all';
@import 'upsstyle/studentinfo';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@include sencha-toolbar-ui('maroon', #800000);
@include sencha-toolbar-ui('white', #dddddd);
@include sencha-button-ui('maroon', #800000, 'matte');
@include sencha-button-ui('white', #dddddd, 'matte');

@mixin custom-iconmask($name) {
  .x-tab img.#{$name}, .x-button img.x-icon-mask.#{$name} {
    position:absolute;
    width:100%;
    height:100%;
    -webkit-mask-image: inline-image('icons/' + $name + '.png');
    -webkit-mask-size: auto 50% !important;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-origin: content;
    -webkit-mask-position: 5% 50%;
    
  }
}

.readonlyform .x-input-text{
  color:#000;
  
}

.x-form-field-container {
  background-color:#FFF;
}

.imageButton {
  font-weight:bold;
  text-align:center;
  
}
.imageButton > div {
  font-size:200%;
  position: relative;
  left: 50% !important;  
}
.imageButton > div > * {
  position:relative;
  left:-50%;
}
.imageButton > div > img {
  width:auto;
  height:1.5em;
  margin:auto;
}


